<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud</title>
</head>
<body>
    <h1>CRUD maneiro do Tassio</h1>
    <div>
        {% block formulario %}
        <a href="{% url 'cadastro' %}">cadastro</a>
        {% endblock %}
        
        <h2>Lista de produtos: </h2>
        {% for produto in produtos %}
        <div>
            <br><hr>
            {{produto.id}}
            <p>Nome: {{ produto.nome }}</p>
            <p>Preço: {{ produto.preco }}</p>
            <p>Validade: {{ produto.validade }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>